*.iml
.gradle
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Unity exported / generated
unityLibrary/build/
unityLibrary/symbols/
unityLibrary/src/main/Il2CppOutputProject/
unityLibrary/src/main/assets/bin/
unityLibrary/src/main/cpp/
unityLibrary/src/main/jniLibs/
unityLibrary/**/il2cpp_cache/
unityLibrary/**/artifacts/
/app/release/
app/src/main/res/
unityLibrary/src/main/res/
